

	module.exports = {
		  port 			: 13023
		, interface 	: 5
		, repositories: [
			{
				  repository 	: 'et-github-autorelease'
				, branch 	 	: 'test'
				, path 			: '/apps/eventemitter/et-github-autorelease'
				, service 		: 'autorelease'
			}
		]
		
	};